Django==4.2.10
django-appconf
django-ckeditor
django-colorfield
django-extensions
django-imagekit
django-import-export
django-js-asset
django-seed
django-widget-tweaks
djangorestframework
import-export
importlib-metadata
Pillow
python-dateutil
python-dotenv
reportlab
requests
django-smart-selects
django-environ
django_select2
django-suit
django-mptt
django-reversion
django-suit-ckeditor
django-suit-redactor
mysqlclient
django-admin-interface
gunicorn
matplotlib
setuptools
