body {
    background-color: #5c6bc0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 48px;
    color: #3f4c90;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

a {
    display: inline-block;
    background-color: #3f4c90;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

footer { 
    padding: 10px;
    text-align: center;
}

a:hover {
    background-color: #5c6bc0;
}